body {
    background-color: #000;
    font-family: 'Lato', sans-serif;
    color: #fff;
    font-weight: 400;
}
.footer_sitio{
    background-color: #17a3b8;
}

.titulo_foot {
    font-size: 35px;
    font-weight: 700;
}

.division {
    border: 1px solid #17a3b8
}

.barranavegacion {
    position: absolute;
    z-index: 100;
    width: 100%;
}

.estilo_iconos {
    background-color: #17a3b8;
}

.titulo_seccion {
    font-size: 40px;
    font-weight: 700;
}

.card-texto{
    color: #000;
}



















/*Mobile*/
@media (max-width: 500px) {
    .titulo_foot {
        font-size: 20px;
    }
    .fab {
        font-size: 25px;
    }
}